html, body {
   height: 100%;
   z-index: 0;
 }

body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map-canvas {
  height: 200px;
  overflow: scroll;
  border-radius: 10px;
}

/* Fixed Header DataTables plugin */
div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
  background-color: white !important;
}

/* Table column no-wrapping styling*/
.nowrap {
   white-space:nowrap;
}

/*Bootstrap panel*/
.panel-primary {
   opacity: 0.95;
   margin-top:30px;
}
